<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <title>Welcome To MyApp</title>
    <%- include('lib'); %>
  </head>
  <body>
    <div class="container">
      <div class="main-content">
            <div class="card border-success">
              <div class="card-header bg-success">
                  <h5 class="text-center text-white"> <strong>Welcome To MyApp</strong> </h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <a class="btn btn-outline-info btn-block" href="roles">Roles </a>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <a class="btn btn-outline-warning btn-block " href="/products">Products </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <a class="btn btn-outline-info btn-block" href="/login">Login </a>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <a class="btn btn-outline-warning btn-block " href="/register">Register </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <a class="btn btn-outline-info btn-block" href="#">Link </a>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <a class="btn btn-outline-warning btn-block " href="#">Link </a>
                  </div>
                </div>
              </div>
            </div>


      </div>
    </div>
  </body>
</html>
