<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <title>User Dashboard</title>
    <%- include('lib'); %>
  </head>
  <body>
    <div class="container">
      <div class="main-content">
        <div class="card border-success">
          <div class="card-header bg-success">
            <h5 class="text-white text-center"> <strong>User Dashboard</strong> </h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="table-responsive">

                </div>

              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                  <a class="btn btn-sm btn-primary" href="/"> <strong>Home</strong> </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
